name: Workflow-CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  mlflow-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Set up job
        run: echo "Job started"

      - name: Run actions/checkout@v3
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Check Env
        run: |
          echo "Current dir:"
          pwd
          echo "List root:"
          ls

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow pandas scikit-learn

      - name: Run mlflow project
        run: |
          cd MLproject
          mlflow run . --env-manager=local

      - name: Get latest MLflow run_id
        run: |
          ls mlruns
