name: CI/CD MLflow Insurance

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CSV_PATH: "MLProject/medical_insurance_preprocessed.csv"
  TARGET_VAR: "charges"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Check Env Variables
        run: |
          echo $CSV_PATH
          echo $TARGET_VAR

      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0

      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      - name: Get latest MLflow run_id
        run: |
          RUN_ID=$(ls -td mlruns/*/*/ | head -n 1 | awk -F'/' '{print $(NF-1)}')
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      - name: Build Docker Model
        run: |
          mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name "medical-insurance-model"

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Tag Docker Image
        run: |
          docker tag medical-insurance-model \
            ${{ secrets.DOCKER_HUB_USERNAME }}/medical-insurance-model:latest

      - name: Push Docker Image
        run: |
          docker push \
            ${{ secrets.DOCKER_HUB_USERNAME }}/medical-insurance-model:latest
