name: CI/CD MLflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run actions/checkout@v3
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Check Env
        run: |
          python --version
          pip --version
          ls


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow


      - name: Run mlflow project
        working-directory: MLProject
        run: |
          echo "=== DEBUG ==="
          pwd
          ls
          echo "=== RUN ==="
          mlflow run . --env-manager=local


      - name: Get latest MLflow run_id
        run: |
          RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | awk -F'/' '{print $(NF-1)}')
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      - name: Debug MLProject existence
        run: |
          pwd
          ls
          ls MLProject
          ls MLProject/MLproject
